<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Kursus Site</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/courses']">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user']">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/counter']">Counter</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <a [routerLink]="['/users/1/edit']" [queryParams] = "{code:dCode, startDate:dStartDate, endDate:dEndDate}" class="mr-4">Query Params</a><!-- [queryParamsHandling] -->
          <a [routerLink]="['/users/1/edit',{code:dCode, startDate:dStartDate, endDate:dEndDate}]" class="mr-4">Optional Params</a>
          <a [routerLink]="['/users/1/edit']" class="mr-4">Edit User 1</a>
          <a [routerLink]="['/users/2/edit']" class="mr-4">Edit User 2</a>
        <a [routerLink]="['/users/:id/edit']" class="mr-4">Edit User</a>
        <a [routerLink]="['/login']" class="mr-4">Login</a>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
