<p>
  user-form works!
</p>
<section class="text-center text-light">
  <div class="display-4">Now editing user with ID:</div>
  <div class="display-1">{{ id }}</div>
  <hr>
  <div class="display-4">Received from Observable</div>
  <div class="display-1">{{ idRx }}</div>
  <div class="display-4">Optional Params</div>
  <div>Code: {{ code }}</div>
  <div>Starts: {{ sDate }}</div>
  <div>Ends: {{ eDate }}</div>
  <hr>
  <div class="display-4">Optional Params</div>
  <div>Code: {{ qCode }}</div>
  <div>Starts: {{ qSDate }}</div>
  <div>Ends: {{ qEDate }}</div>
  <hr>
</section>
<button class="btn btn-primary" (click)="moveAway()"></button>
