/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(#213b66, black);
  background-attachment: fixed;
}
